# Ignore system files
.vscode/

# Ignore compile-time files
.gradle/
build/
bin/
lib/

# Never include API key contents to public
key.txt
*.properties
*.list

# Ignore temporary files
recording.wav
src/main/RecievedMedia/mealType.mp3
src/main/RecievedMedia/ingredients.wav
src/main/RecievedMedia/mealType.wav
