
bin/test/View/placeholder.txt
bin/test/Model/RecipeTest.class
bin/test/Model/ChatGPTTest.class
bin/test/Controller/placeholder.txt
bin/main/View/placeholder.txt
bin/main/Model/RecipeList.class
bin/main/Model/Recipe.class
bin/main/Model/MockGPT.class
bin/main/Model/Main.class
bin/main/Model/GPTModel.class
bin/main/Model/ChatGPT.class
bin/main/Controller/placeholder.txt
.vscode/settings.json
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4.2/gc.properties
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/checksums/sha1-checksums.bin
.gradle/7.4.2/checksums/md5-checksums.bin
.gradle/7.4.2/checksums/checksums.lock
bin/main/team1project/Main.class
bin/main/team1project/Recipe.class
bin/main/team1project/RecipeList.class
bin/test/team1project/RecipeTest.class
